<%= form_for([:minecraft, @server, @world], html: { class: 'form' }) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <% if @backup.present? %>
    <%= f.fields_for(:backups, @backup) do |f| %>
      <div class="form-group">
        <%= f.label :file, 'World Zip File (Optional)' %>
        <div class="custom-file">
          <%= f.file_field :file, class: 'custom-file-input' %>
          <%= f.label :file, 'Choose file...', class: 'custom-file-label' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= f.submit class: 'btn btn-primary mt-4' %>
<% end %>
