<%= form_for([:minecraft, @server, @world], html: { class: 'form' }) do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <% if @backup.present? %>
    <%= f.fields_for(:backups, @backup) do |f| %>
      <div class="mb-3">
        <%= f.label :file, 'World Zip File (Optional)', class: 'form-label' %>
        <%= f.file_field :file, class: 'form-control' %>
      </div>
    <% end %>
  <% end %>

  <%= f.submit class: 'btn btn-primary mt-4' %>
<% end %>
