<h3 class='mb-4'>Minecraft</h3>

<%= render 'minecraft/servers/collection', servers: @servers %>
<%= render 'minecraft/worlds/collection', worlds: @worlds %>
<%= render 'minecraft/jars/collection', worlds: @jars %>
<%= render 'minecraft/modders/collection', worlds: @modders %>
<%= render 'minecraft/mods/collection', worlds: @mods %>
