<h6>Modders</h6>
<div class="card mb-3">
  <ul class="list-group list-group-flush">
    <% @modders.each do |modder| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to [modder.name, modder.version].join(' '), modder.url %>
        <div class="flex-shrink-0">
          <%= link_to icon_tag(:visibility), [:minecraft, modder], class: 'btn btn-secondary btn-sm' %>
          <%= link_to icon_tag(:edit), [:edit, :minecraft, modder], class: 'btn btn-secondary btn-sm' %>
          <%= link_to icon_tag(:delete), [:minecraft, modder], class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </li>
    <% end %>
  <ul>
</div>

<%= link_create(new_minecraft_modder_path) %>
