<%= form_for([:minecraft, @server], html: { class: 'form' }) do |f| %>
  <div class="form-group">
    <%= f.label :host %>
    <%= f.text_field :host, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :max_idle_time_minutes, 'Max Idle Time' %>
    <div class="input-group">
      <%= f.number_field :max_idle_time_minutes, step: 1, min: 1, class: 'form-control' %>
      <div class="input-group-append">
        <span class="input-group-text">minutes</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :jar, 'Minecraft Version' %>
    <%= f.collection_select :jar_id, @jars, :id, :version, {include_blank: 'Default'}, class: 'custom-select' %>
  </div>

  <div class="form-group">
    <%= f.label :modder, 'Modder' %>
    <%= f.collection_select :modder_id, @modders, :id, :to_s, {include_blank: 'None'}, class: 'custom-select' %>
  </div>

  <div class="form-group mb-5">
    <%= f.label :mod_ids, 'Mods' %>
    <%= f.collection_check_boxes :mod_ids, @mods, :id, :to_s do |b| %>
      <div class="custom-control custom-checkbox">
        <%= b.check_box class: "custom-control-input" %>
        <%= b.label class: "custom-control-label" %>
      </div>
    <% end %>
  </div>


  <%= f.submit class: 'btn btn-primary' %>
<% end %>
