<h3 class="mb-4">Servers</h3>
<h6>Displaying <%= pluralize(@servers.size, 'Minecraft server') %> </h6>
<div class="card mb-4">
  <ul class="list-group list-group-flush">
    <% @servers.each do |server| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <code><%= link_to server.host, [:minecraft, server] %></code>
        <div>
          <%= link_to icon_tag(:visibility), [:minecraft, server], class: 'btn btn-secondary btn-sm' %>
          <%= link_to icon_tag(:edit), [:edit, :minecraft, server], class: 'btn btn-secondary btn-sm' %>
          <%= link_to icon_tag(:delete), [:minecraft, server], class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </li>
    <% end %>
  <ul>
</div>

<%= link_to 'Create Server', url_for(action: :new), class: 'btn btn-primary' %>
