<h3 class="mb-4"><code class="text-white"><%= @server.host %></code></h4>

<div class="card mb-3">
  <div class="card-body py-0">
    <pre class="text-white" style="max-height: calc(100vh - 400px);" data-simplebar>
<%- @server.logs.order(id: :desc).take(500).reverse.each do |log| -%>
<%= log.text -%>
<%- end -%>
    </pre>
  </div>

  <%= render 'minecraft/commands/form', server: @server %>
</div>

<div class="btn-toolbar mb-3" style="margin-right: -4px;">
  <%= render 'minecraft/loads/form', server: @server, backups: @backups if @backups.any? %>
  <%= render 'minecraft/saves/form', server: @server if @server.world.present? %>
</div>
