<h3 class="mb-4"><code class="text-white"><%= @server.host %></code></h4>

<h6>Console</h6>
<div class="card mb-4" data-controller="minecraft--console" data-minecraft--console-server-id="<%= @server.id %>">
  <div class="card-body pl-1 pr-1 pt-0 pb-0">
    <div style="max-height: calc(100vh - 500px);" data-target="minecraft--console.simplebar">
      <pre class="text-white pt-2" style="overflow: unset;" data-target="minecraft--console.output"><%- @server.logs.order(id: :desc).take(500).reverse.each do |log| -%><%= log.filtered_text -%><%- end -%></pre>
    </div>
  </div>

  <%= render 'minecraft/commands/form', server: @server %>
</div>

<div class="btn-toolbar flex-nowrap mb-4">
  <%= render 'minecraft/loads/form', server: @server, backups: @backups if @backups.any? %>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      Actions
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <%= render 'minecraft/saves/form', server: @server %>
      <%= render 'minecraft/boots/form', server: @server %>
      <%= render 'minecraft/shutdowns/form', server: @server %>
    </div>
  </div>
</div>

<div class="text-muted">
  Active connections: <%= @server.connections %>. 
  <% if @server.last_active_at.present? %>
    Last activity: <%= time_ago_in_words(@server.last_active_at) %> ago.
  <% end %>
</div>
