<h3 class="mb-4"><code class="text-white"><%= @server.host %></code></h4>

<h6>Console</h6>
<div class="card mb-4" data-controller="minecraft--console" data-minecraft--console-server-id="<%= @server.id %>">
  <div class="card-body pl-1 pr-1 pt-0 pb-0">
    <div style="max-height: calc(100vh - 500px);" data-target="minecraft--console.simplebar">
      <pre class="text-white pt-2" style="overflow: unset;" data-target="minecraft--console.output"><%- @server.logs.order(id: :desc).take(500).reverse.each do |log| -%><%= log.filtered_text -%><%- end -%></pre>
    </div>
  </div>

  <%= render 'minecraft/commands/form', server: @server %>
</div>

<div class="btn-toolbar flex-nowrap" style="margin-right: -4px;">
  <%= render 'minecraft/loads/form', server: @server, backups: @backups if @backups.any? %>
  <%= render 'minecraft/saves/form', server: @server %>
  <%= render 'minecraft/boots/form', server: @server %>
</div>
