<div class="mb-4 d-flex align-items-center justify-content-between">
  <h3 class="text-white">Servers</h3>

  <div class="btn-toolbar">
    <%= link_to 'Create', new_server_url, class: 'btn btn-sm btn-primary' %>
  </div>
</div>

<div class="card">
  <ul class="list-group list-group-flush">
    <% @servers.each do |server| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <code><%= link_to server.host, server_path(server) %></code>
        <div>
          <%= link_to icon_tag(:visibility), server_path(server), class: 'btn btn-secondary btn-sm' %>
          <%= link_to icon_tag(:edit), edit_server_path(server), class: 'btn btn-secondary btn-sm' %>
          <%= link_to icon_tag(:delete), server_path(server), class: 'btn btn-danger btn-sm', method: :delete, confirm: 'Are you sure?' %>
        </div>
      </li>
    <% end %>
  <ul>
</div>
