<h6>Networks</h6>
<div class="card mb-3">
  <ul class="list-group list-group-flush">
    <% networks.each do |network| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <code><%= link_to network.host, [:wireguard, network] %></code>
        <div>
          <%= link_to icon_tag(:get_app), [:wireguard, network, format: 'conf'], class: 'btn btn-secondary btn-sm', download: "#{network.host.parameterize.underscore}.conf" %>
          <%= link_to icon_tag(:visibility), [:wireguard, network], class: 'btn btn-secondary btn-sm' %>
          <%= link_to icon_tag(:edit), [:edit, :wireguard, network], class: 'btn btn-secondary btn-sm' %>
          <%= link_to icon_tag(:delete), [:wireguard, network], class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </li>
    <% end %>
  <ul>
</div>

<%= link_to 'Create Network', new_wireguard_network_path, class: 'btn btn-primary mb-4' %>
