<!DOCTYPE html>
<html>
  <head>
    <title>MinecraftServer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top d-flex justify-content-start">
      <%= link_to(icon_tag(:dns) + ' Minecraft', minecraft_path, class: "nav-link #{'active' if request.path.starts_with?(minecraft_path)}") %>
      <%= link_to(icon_tag(:vpn_lock) + ' VPN', wireguard_path, class: "nav-link #{'active' if request.path.starts_with?(wireguard_path)}") %>
      <%= link_to(icon_tag(:settings) + ' Admin', admin_path, class: "nav-link #{'active' if request.path.starts_with?(admin_path)}") %>
    </nav>

    <div class="container-fluid py-4">
      <%= yield %>
    </div>

    <% if current_user.present? %>
      <div class="fixed-bottom d-flex flex-column p-3">
        <div data-controller="notifications" data-target='notifications.toast'></div>
        <%= render 'toasts/error', header: 'Error!', message: flash[:error] if flash[:error] %>
        <%= render 'toasts/info', header: 'Info', message: flash[:info] if flash[:info] %>
        <%= render 'toasts/success', header: 'Success', message: flash[:success] if flash[:success] %>
      </div>
    <% end %>
  </body>
</html>
