<!DOCTYPE html>
<html>
  <head>
    <title>MinecraftServer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav topbar sticky-top d-flex">
      <%= link_to(icon_tag(:dns), minecraft_servers_path, class: 'nav-link') %>
      <%= link_to(icon_tag(:language), minecraft_worlds_path, class: 'nav-link') %>
      <%= link_to(icon_tag(:vpn_lock), wireguard_networks_path, class: 'nav-link') %>
    </nav>

    <div class="container-fluid py-4">
      <%= yield %>
    </div>

    <% if current_user.present? %>
      <div data-controller="toasts" data-target='toasts.toast' class="fixed-bottom d-flex flex-column p-3"></div>
    <% end %>
  </body>
</html>
